
* {
  height: 100%;
  margin: 0;
  padding: 0;
}

.discord{
  color: transparent;
  cursor: pointer;
}
.discord{
  height: 35px;
  width: 47px;
  align-items: center;
}
.email{
  color: white;
  text-decoration: none;
  padding-top: 25px;
  padding-left: 30%;
  display: flex;
  height: 35px;
  width:35px ;
}
.email2{
  font-size: 19px;
  padding-top: 30px;
  padding-left: 10px;
}
.fon{
  color: white;
  text-decoration: none;
  padding-top: 25px;
  padding-left: 31%;
  display: flex;
  height: 30px;
  width:30px ;
}
.fon2{
  font-size: 19px;
  padding-top: 30px;
  padding-left: 10px;
}
.contato{
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
}
.sobre{
  color: white;
  font-size: 52px;
  text-align: center;
  padding-top: 100px;
}
.sobre1{
  font-size: 35px;
}
.projeto{
  color: white;
  font-size: 52px;
  text-align: center;
  
  padding-bottom: 100px;
}
.primeirop , .segundop , .terceirop , .quartop{
  background-color: white;
  height: 110px;
  width: 90px;
}
.segundop , .terceirop , .quartop{
  background-color: white;
  padding-top: 20px;
  height: 110px;
  width: 90px;
}
body{
    background-color:black;
}
.primeiro{
  color: white;
  display: flex;
  padding: 0;
  font-size: 50px;
  padding-left: 50%;
  padding-top: 0px;
}
.segundo{
  color: white;
  display: flex;
  padding: 0;
  font-size: 50px;
  text-align: left;
}
.home{
    font-size: 30px;
    color: white;
    height : 430px;
    border : 1px solid transparent;
    display : flex;
    align-items : center;
    justify-content : center;
}
.icon_git , .icon_face , .icon_insta, .icon_linke{
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: flex;
}
.icon_button{
    padding-top: 100px;
    padding-left: 10px;
}
.respon , .logo{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.4s;
  padding-top: 10px;
}
.respon:hover {
  opacity: 0.9;
}
.logo {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: black;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .email{
    padding-left:100px ;

  }
  .fon{
    padding-left:100px ;
  }
}
.nav-list.active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}